* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0px;
  padding: 1rem;
  font-size: larger;
  text-align: center;
  background-color: #ee8f15;
}
body {
  background-image: url(images/background.svg);
  background-size: cover;
}

.portrait {
  width: 50%;
  border-radius: 59% 41% 54% 46% / 72% 20% 80% 28%;
  padding: 2rem;
}

body {
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
}
h1 {
  size: 12px;
  padding: 1rem;
  text-decoration: underline;
}
.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
  justify-items: center;
  font-size: xx-large;
}

.callAction {
  display: flex;
  justify-content: flex-end;
  color: black;
}

.callAction:hover {
  color: blue;
}

.extLink:hover {
  color: blue;
}
#callAction {
  padding: 7rem;
}
.exercices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  align-content: center;
  gap: 2rem;
}
.preview {
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2%;
}

.exerciceArrangement {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row-reverse;
  gap: 1rem;
}
.socials {
  color: black;
}
footer {
  text-align: center;
  background-color: #ee8f15;
  position: sticky;
  bottom: 0px;
  padding: 2px;
  font-size: large;
}
.copyright {
  width: 10px;
}
