
header,footer{
      
  padding:1rem;
}

body{

  font-family:"josefin sans";
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.message {

  display:flex;
  justify-content: center;
}

.highlight {
  display: flex;

  color: hsl(0, 36%, 70%) ;
  font-weight: 300;
}

p{

  color: hsl(0, 36%, 70%) ;
  text-align:center ;
  font-weight: 300;
  padding: 1rem;
}
      
h1{
 
  text-align: center;
  font-weight: 600;
}

/* .form{

  border-radius:12px;
  border-color: hsl(0, 74%, 74%);
}  */

input[type="email"]{

  border-radius:12px;
  border-color: hsl(0, 74%, 74%);
  color: hsl(0, 74%, 74%);
}

button{

  border-color: hsl(0, 74%, 74%);
  border-radius: 12px;
  background-color:hsl(0, 74%, 74%);
}

input::placeholder {

  color: hsl(0, 36%, 70%);
}

.brandLogo {

  display:flex;
  justify-content:flex-start;
  height: 20px;
}

div {

  display: flex;
  justify-content: center;
  margin: 1rem;
}